body {
	font-family: 'Open Sans', sans-serif;
	background: #e4e7ec;
}

.topMenu {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	background-color: #12a563;
	padding-top: 12px;
}

.topMenu a {
	font-size: 22px;
	font-family: sans-serif;
	text-decoration: none;
	color: #fff;
	padding: 0 10px;
}

.topMenu a:link {
	color: #fff;
	text-decoration: none;
}

.topMenu a:visited {
	color: #fff;
}

.topMenu a:hover {
	color: #fff;
}

.topMenu a:active {
	color: #fff;
}

button.fa-auth {
	color: #fff;
	background-color: #294786;
}

.goHide {
	display: none;
}

.google-auth {
	background-color: #dd4b39;
	color: #fff;
}

.tw-auth {
	background-color: #0090c7;
	color: #fff;
}

.git-auth {
	background: #444 !important;
	color: #fff !important;
}

#wrap{
	width: 800px;	
	margin: 0 auto;		
}

#mapContainer {
	position:relative;
    height: 500px;
    width: 800px;
	border:10px solid #eaeaea;	
}