<!--
<div ng-controller="loginController">
	<form action="/" id="myLogin">
		Username: <input type="text" id="username" ng-model="username"> <br>
		Password: <input type="password" id="password" ng-model="password"> <br>
		<button type="button" ng-click="submit()">Login</button>
	</form>
</div>

-->

<div class="container" ng-controller="loginController">
	<form class="form-signin" action="/" id="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>
		<div class="control-group">
			<label class="control-label" for="login">Login:</label>
			<div class="controls">
				<input size="50" id="login" value="" type="text" class="form-control" placeholder="Login" ng-model="username">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">Password:</label>
			<div class="controls">
				<input size="50" id="password" value="" type="password" class="form-control" placeholder="Password" ng-model="password">
			</div>
		</div>
		<br>
		<button type="button" class="btn btn-large btn-primary btn-block" ng-click="submit()">Login</button>
	</form>
</div>
<br>
<div class="container" ng-controller="authController">
	<button class="btn btn-large btn-block fa-auth" ng-click="authenticate('facebook')">Sign in with Facebook</button>
</div>