<div class="container" ng-controller="profileController">
	<div class="panel panel-default">
		<div class="panel-heading">Profile</div>
		<div class="panel-body">
			<legend>My Profile</legend>
			<img class="profile-picture" ng-src="{{ localimgUrl || 'https://placehold.it/100x100'}}">
			<h3>{{ localdisplayName }}</h3>
		</div>
	</div>
</div>
<div class="container" ng-controller="foodController">
	<div class="panel panel-default">
		<div class="panel-heading">Food Log</div>
		<div class="panel-body">
			<legend>My products</legend>
				
		</div>
	</div>
</div>