<div class="container" ng-controller="profileController">
	<div class="panel panel-default">
		<div class="panel-heading">Profile</div>
		<div class="panel-body">
			<legend>My Profile</legend>
			<img class="profile-picture" ng-src="{{ localimgUrl || 'https://placehold.it/100x100'}}">
			<h3>{{ localdisplayName }}</h3>
		</div>
	</div>
</div>
<div class="container" ng-controller="foodController">
	<div class="panel panel-default">
		<div class="panel-heading">Food Log</div>
		<div class="panel-body">
			<legend>My products</legend>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>food</th>
						<th>Energy</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in foodmodel.products">
						<td>food: {{ product.food }}</td>
						<td>Energy: {{ product.Energy }}</td>
						<td><button class="btn btn-default pull-right" ng-click="deleteFood($index)">Удалить</button></td>
					</tr> 
				</tbody>
			</table>
		</div>
	</div>
</div>