<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
	<meta charset="UTF-8">
	<title>Single-Page App | Demo</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
</head>
<body>
	<div ng-controller="menuController" class="container topMenu" >
		<a ui-sref="home">Home</a>
		<a ng-if="isAuthenticated()" href="/spa_demo/#/profile">Profile</a>
		<ul ng-if="!isAuthenticated()" class="pull-right" style="list-style: none; display: inline-block;">
			<li><a href="/spa_demo/#/login">Login</a></li>
		</ul>
		<ul ng-if="isAuthenticated()" class="pull-right" style="list-style: none; display: inline-block;">
			<li ng-controller="LogoutCtrl"><a href="/spa_demo/#/logout">Logout</a></li>
		</ul>
	</div>
	<div ui-view></div>
	<script>
  

		  window.fbAsyncInit = function() {
		  FB.init({
		    appId      : '1336322916420295',
		    cookie     : true,  // enable cookies to allow the server to access 
		                        // the session
		    xfbml      : true,  // parse social plugins on this page
		    version    : 'v2.8' // use graph api version 2.8
		  });

		  

		  // Load the SDK asynchronously
		  (function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js";
		    fjs.parentNode.insertBefore(js, fjs);
		  }(document, 'script', 'facebook-jssdk'));

	</script>
	<script src="connect.facebook.net/en_US/sdk.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
	<script src="js/satellizer.min.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="js/angular-sanitize.js"></script>
	<script src="js/angular-ui-router.js"></script>
	<script src="app/app.js"></script>
</body>
</html>