<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
	<title>Single-Page App | Demo</title>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
	<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position){
				var latitude = position.coords.latitude;
				var longitude = position.coords.longitude;
				var coords = new google.maps.LatLng(latitude, longitude);
				var mapOptions = {
					zoom: 15,
					center: coords,
					mapTypeControl: true,
					navigationControlOptions: {
						style: google.maps.NavigationControlStyle.SMALL
					},
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				map = new google.maps.Map(
					document.getElementById("mapContainer"), mapOptions
					);
				var marker = new google.maps.Marker({
					position: coords,
					map: map,
					title: "Your current location!"
				});

			});
		}else {
			alert("Geolocation API не поддерживается в вашем браузере");
		}
	</script>
</head>
<body>
	<div ng-controller="menuController" class="container topMenu" >
		<a ui-sref="home">Home</a>
		<a ng-if="isLoggedIn()" href="/spa_demo/#/profile">Profile</a>
		<a ng-if="isLoggedIn()" href="/spa_demo/#/editprofile">Edit Profile</a>
		<ul ng-if="!isLoggedIn()" class="pull-right" style="list-style: none; display: inline-block;">
			<li><a href="/spa_demo/#/login">Login</a></li>
		</ul>
		<ul ng-if="isLoggedIn()" class="pull-right" style="list-style: none; display: inline-block;">
			<a ui-sref="maps">Maps</a></li>
			<a ui-sref="food">Food</a></li>
			<a ui-sref="logout">Logout</a></li>
		</ul>
	</div>
	<div ui-view></div>
	

	<div id="wrap">
		<h2>HTML5 Geolocation и Google Maps</h2>
		<div id="mapContainer"></div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
	<script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
	<script src="js/satellizer.min.js"></script>
	<script src="js/angular-nutritionix-api.min.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="js/angular-ui-router.js"></script>

	<script src="app.js"></script>
	<script src="controllers/auth.js"></script>
	<script src="controllers/editprofile.js"></script>
	<script src="controllers/food.js"></script>
	<script src="controllers/gmap.js"></script>
	<script src="controllers/login.js"></script>
	<script src="controllers/logout.js"></script>
	<script src="controllers/menu.js"></script>
	<script src="controllers/profile.js"></script>
	<script src="services/account.js"></script>
	
</body>
</html>